/* .access-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #8298c6;
  font-family: sans-serif;
} */

.title {
  font-size: 5.5rem;
}

.subtitle {
  font-size: 1.3rem;
}

.access-view {
  background-color: #8298c6; 
  width: 100vw; 
  height: 100vh; 
  margin: 0; 
  padding: 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.content-container {
  color: #e9e7db; 
}

.bg-primary {
  background-color: #8298c6 !important;
}

.text-custom {
  color: #e9e7db !important;
}

#countdown {
  font-size: 2rem;
  font-weight: bold;
  color: #ff6347;
  background-color: #e9e7db;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
}
