#title {
  margin: auto;
}

.main-header {
  background-color: #8298c6;
  color: #e9e7db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3.5rem;
}

#my-name{
  font-weight: bold;
  color: #e9e7db;
}

#my-name img{
  width: 18px;
}